<h3>ToDo List</h3>
<p>A project by:<p>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
    <li style="clear: both;">Pablo Alcázar Morales</li>
    <li style="clear: both;">Leonardo Carlassare</li>
    <li style="clear: both;">Jaime Fernando Jiménez Catalán</li>
    <li style="clear: both;">Diego Pedregal Hidalgo</li>
    <li style="clear: both;">Eva Serrano Gracia</li>
</ol>