<select id='project_tasks' name='project[tasks]'>
	<% @tasks.each do |task| %>
		<% if task.project_id.nil? %>
			<option value="<%= task.id %>"><%= task.name %></option>
		<% end %>
	<% end %>
</select>